<nav class="navbar navbar-light bg-light p-2">
  <a class="navbar-brand" href="#">Simple Airbnb</a>
  <form class="form-inline my-2 my-lg-0">
  <%= link_to "Add a Flat", new_flat_path, class: "btn btn-outline-primary my-2 my-sm-0" %>
    </form>
  </div>
</nav>
